<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>聊天登陆</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="assets/css/app.min.css">
  <link rel="stylesheet" href="assets/bundles/bootstrap-social/bootstrap-social.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header">
                <h4>聊天登陆</h4>
              </div>
              <% if (errors.length) { %>
              <div class="alert alert-error">
                <%= errors %>
              </div>
              <% }else{%>
              2
              <% }%>

              <!-- <div class="alert alert-error"><%= errors %></div> -->
              <div class="card-body">
                <form method="POST" action="http://127.0.0.5:8888/do_login" class="needs-validation" novalidate="">
                  <div class="form-group">
                    <label for="email">用户名</label>
                    <input class="form-control" name="username" tabindex="1" required autofocus type="text">
                  </div>
                  <div class="form-group">
                    <div class="d-block">
                      <label for="password" class="control-label">密码</label>
                      <div class="float-right">
                        <a href="auth-forgot-password.html" class="text-small">
                          忘记密码？
                        </a>
                      </div>
                    </div>
                    <input type="password" class="form-control" name="password" tabindex="2" required value="123456">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      登陆
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="mt-5 text-muted text-center">
              还没有账户？ <a href="auth-register.html">创建一个吧？</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- General JS Scripts -->
  <script src="assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="assets/js/custom.js"></script>
</body>

</html>